HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/backup

## 실 서비스를 위해 민감 데이터가 담긴 프로덕션.yml 파일은 gitignore처리해주셔야 합니다.. 후에 이그노어 처리를 진행해주세요.
## 현재 local.yml에도 db엔드포인트 및 jwt 설정 값들도 후에 gitignore처리하시길 바랍니다.
## application-production.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
